<div class="form-box" id="login-box">
    <div class="header">Login In</div>
    <%= form_tag sessions_path do %>
        <div class="body bg-gray">
            <div class="form-group">
              <%= text_field_tag :email, params[:email], class: "form-control", placeholder:"Email" %>
            </div>
            <div class="form-group">
                <%= password_field_tag :password, nil, class: "form-control", placeholder:"Password" %>
            </div>          
            <div class="form-group">
                <%= check_box_tag :remember_me, 1, params[:remember_me] %>  Remember me
            </div>
        </div>
        <div class="footer">                    
            <%= submit_tag "Log me in", class: "btn bg-black btn-block"  %>                                           

            <p><%= link_to "I forgot my password", new_password_reset_path %></p>
        </div>
  <% end %> 
</div>