<% if @user.errors.any?%>
  <div class="alert alert-danger alert-dismissable">
    <i class="fa fa-ban"></i>
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">Ã—</button>
      <% @user.errors.full_messages.each do |message| %>
        <p><%= message %></p>
    <% end %>
  </div>
<% end %>

<div class="col-md-6 col-md-offset-3">
  <div class="box box-primary">
    <div class="box-header">
      <h3 class="box-title">Reset Password</h3>
    </div><!-- /.box-header -->
    <!-- form start -->
    <%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
      <div class="box-body">
        <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
         </div>
         <div class="form-group">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Retype password" %>
         </div>
        </div><!-- /.box-body -->
        <div class="box-footer">
          <%= f.submit "Update Password", class: "btn bg-black btn-block" %>
        </div>
    <% end %>
  </div>
</div>
