<div class="col-md-6 col-md-offset-3">
  <div class="box box-primary">
    <div class="box-header">
      <h3 class="box-title">Reset Password</h3>
    </div><!-- /.box-header -->
    <!-- form start -->
    <%= form_tag password_resets_path, :method => :post do %>
      <div class="box-body">
        <div class="form-group">
          <%= label_tag :email %>
           <%= text_field_tag :email, params[:email], class: "form-control", placeholder: "Email" %>
            </div>
        </div><!-- /.box-body -->
        <div class="box-footer">
            <%= submit_tag "Reset Password", class: "btn bg-black btn-block" %>
        </div>
    <% end %>
  </div>
</div>