<div class="row">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>
                    <%= @orders.count %>
                </h3>
                <p>
                    New Orders
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
          <%= link_to(orders_path, class: "small-box-footer") do %>
              More info <i class="fa fa-arrow-circle-right"></i>
          <% end %>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>
                    <%= @users.count %>
                </h3>
                <p>
                    User Registrations
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <%= link_to(admin_users_path, class: "small-box-footer") do %>
                More info <i class="fa fa-arrow-circle-right"></i>
            <% end %>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-blue">
          <div class="inner">
              <h3>
                  <%= @sales.count %>
              </h3>
              <p>
                  Sales
              </p>
          </div>
          <div class="icon">
              <i class="ion ion-ios7-cart-outline"></i>
          </div>
          <a href="#" class="small-box-footer">
              More info <i class="fa fa-arrow-circle-right"></i>
          </a>
      </div>
  </div><!-- ./col -->
  <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-maroon">
          <div class="inner">
              <h3>
                  <%= @products.count %>
              </h3>
              <p>
                  Products
              </p>
          </div>
          <div class="icon">
              <i class="ion ion-ios7-pricetag-outline"></i>
          </div>

          <%= link_to(admin_products_path, class: "small-box-footer") do %>
              More info <i class="fa fa-arrow-circle-right"></i>
          <% end %>
      </div>
  </div><!-- ./col -->
</div>