<% content_for :content_header do %>
  <section class="content-header no-margin">
      <h1 class="text-center"> <span class="small"><i class="fa fa-user"></i></span>  &nbsp; Administration </h1>
  </section>
<% end %>

<%= render 'info_boxes' %>

<div class="box box-info">
    <div class="box-header">
        <h3 class="box-title">Orders</h3>
    </div>
    <div class="box-body chart-responsive">
        <!-- <div id="orders_chart"></div> -->
        <%= content_tag :div, "", id: "orders_chart", data: {orders: Order.chart_data } %>
    </div><!-- /.box-body -->
</div>
