<a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-shopping-cart"></i>
    <span class="label label-success"><%= @cart.order_items.size %></span>
</a>
<ul class="dropdown-menu">
    <li class="header">You have <%= cart.order_items.size%> items in your cart</li>
    <li>
        <!-- inner menu: contains the actual data -->
        <ul class="menu">
          <% cart.order_items.each do |item| %>
            <li><!-- start message -->
                <%= link_to product_path(item.product) do %>
                    <div class="pull-left">
                      <% if item.product.images.any? %>
                       <%= image_tag item.product.images.first.photo.url(:thumb), alt: "User Image" %>
                      <% else %>
                        <%= image_tag "missing.png", :size => '50', alt: "User Image" %>
                      <% end %>
                    </div>
                    <h4>
                       <span class="label label-warning"><%= item.quantity %></span> <%= item.product.title %>
                        <small><i class="fa fa-clock-o"></i> <%= time_ago_in_words(item.created_at) %> </small>
                    </h4>
                    <p><%= truncate(item.product.description, length: 50) %></p>
                <% end %>
            </li><!-- end message -->
          <% end %>
        </ul>
    </li>
    <li class="footer"><%= link_to "See all items", cart_path(cart) %></li>
</ul>


