<% content_for :content_header do %>
  <section class="content-header no-margin">
      <h1 class="text-center">  Mailbox </h1>
  </section>
<% end %>

<div class="mailbox row">
  <div class="col-xs-12">
      <div class="box box-solid">
          <div class="box-body">
              <div class="row">
                  <div class="col-md-3 col-sm-4">
                      <!-- BOXES are complex enough to move the .box-header around.
                           This is an example of having the box header within the box body -->
                      <div class="box-header">
                          <i class="fa fa-inbox"></i>
                          <h3 class="box-title">INBOX</h3>
                      </div>
                      <!-- compose message btn -->
                      <a class="btn btn-block btn-primary" data-toggle="modal" data-target="#compose-modal"><i class="fa fa-pencil"></i> Compose Message</a>
                      <!-- Navigation - folders-->
                      <div style="margin-top: 15px;">
                          <ul class="nav nav-pills nav-stacked">
                              <li class="header">Folders</li>
                              <li><a href="/mails"><i class="fa fa-inbox"></i> Inbox ( <%= @all_emails.received.size %> )</a></li>
                              <li><a href="/mails/sent"><i class="fa fa-mail-forward"></i> Sent ( <%= @all_emails.sent.size %> ) </a></li>
                          </ul>
                      </div>
                  </div><!-- /.col (LEFT) -->
                  <%= form_tag destroy_multiple_mails_path, method: :delete do  %>
                  <div class="col-md-9 col-sm-8">
                      <div class="row pad">
                          <div class="col-sm-6">
                              <label style="margin-right: 10px;">
                                  <div class="icheckbox_minimal-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" id="check-all" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"></ins></div>
                              </label>
                              <!-- Action button -->
                              <div class="btn-group">
                                  <button type="button" class="btn btn-default btn-sm btn-flat dropdown-toggle" data-toggle="dropdown">
                                      Action <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu" role="menu">
                                      <!-- <li><a href="#">Mark as read</a></li> -->
                                      <!-- <li><a href="#">Mark as unread</a></li> -->
                                      <!-- <li class="divider"></li> -->
                                      <!-- <li><a href="#">Move to junk</a></li> -->
                                      <li class="divider"></li>
                                      <li><%= link_to_submit "Delete" %></li>
                                      <li class="divider"></li>
                                  </ul>
                              </div>

                          </div>
                          <div class="col-sm-6 search-form">
                              <form action="#" class="text-right">
                                  <div class="input-group">                                                            
                                      <input type="text" class="form-control input-sm" placeholder="TO-DO in the future">
                                      <div class="input-group-btn">
                                          <button type="submit" name="q" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button>
                                      </div>
                                  </div>                                                     
                              </form>
                          </div>
                      </div><!-- /.row -->

                      <div class="table-responsive">
                          <!-- THE MESSAGES -->
                          <table class="table table-mailbox">
                              <tbody>
                              <% @emails.each do |email| %>
                                <tr data-toggle="modal" data-target="#mesage-view<%= email.id %>">
                                    <td  class="small-col"><%= check_box_tag "mail_ids[]", email.id %></td>
                                    <td class="small-col"><i class="fa fa-star"></i></td>
                                    <td class="name"><%= email.from %></td>
                                    <td class="subject"><%= email.subject %></td>
                                    <td class="time"><%= time_ago_in_words(email.at) %></td>
                                </tr>
                              <% end %>
                          </tbody></table>
                      </div><!-- /.table-responsive -->
                  </div><!-- /.col (RIGHT) -->
                  <% end %>
              </div><!-- /.row -->
          </div><!-- /.box-body -->
          <div class="box-footer clearfix">
              <div class="pull-right">
                  <%= paginate @emails, :window => 3 %>
              </div>
          </div><!-- box-footer -->
      </div><!-- /.box -->
  </div><!-- /.col (MAIN) -->
</div>
<!-- MAILBOX END -->

<!-- COMPOSE MESSAGE MODAL -->
<div class="modal fade" id="compose-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="fa fa-envelope-o"></i> Compose New Message</h4>
            </div>
            <%= form_for AdminMail.new, url: mails_path, method: :post do |f| %>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">TO:</span>
                             <%= f.text_field :to, class: "form-control", placeholder: "Email TO", type: "email" %>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-bars"></i>
                            </div>
                             <%= f.text_field :subject, class: "form-control", placeholder: "Subject" %>
                        </div><!-- /.input group -->
                    </div>
                    <div class="form-group">
                        <%= f.text_area :body, class: "form-control", placeholder: "Message", type: "email", id: "email_message", height: "120px" %>
                    </div>
              <!-- <div class="form-group">                                
                        <div class="btn btn-success btn-file">
                            <i class="fa fa-paperclip"></i> Attachment
                            <input type="file" name="attachment"/>
                        </div>
                        <p class="help-block">Max. 32MB</p>
                   </div> -->
                </div>
                <div class="modal-footer clearfix">

                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Discard</button>
                    <%= f.submit 'Send Message'.html_safe, class: "btn btn-primary pull-left"%>
                </div>
            <% end %>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- COMPOSE MESSAGE VIEW TO-DO (not optimized) -->
<% @emails.each do |email| %>
  <div class="modal fade" id="mesage-view<%= email.id %>" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="fa fa-envelope-o"></i> View Mail </h4>
            </div>
                <div class="modal-body">
                    <div class="form-group">
                       <p><i class="fa fa-user"></i> &nbsp; FROM: &nbsp; <%= email.from %> </p> 
                       <hr>
                    </div>
                    <div class="form-group">
                       <p><i class="fa fa-user"></i> &nbsp; TO: &nbsp; <%= email.to %> </p> 
                       <hr>
                    </div>
                    <div class="form-group">
                          <p><i class="fa fa-envelope-o"></i> &nbsp; Subject: </p>
                          <p><%= email.subject %></p>
                          <hr>
                    </div>
                    <div class="form-group">
                        <p><i class="fa fa-archive"></i> &nbsp; Message:</p>
                        <p><%= email.body %></p>
                        <hr>
                    </div>
                    <div class="form-group">        
                        <p class="help-block"><i class="fa fa-clock-o"></i> &nbsp; <%= time_ago_in_words(email.at) %> ago</p>
                        <hr>
                   </div>
                </div>
                <div class="modal-footer clearfix">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Discard</button>
                </div>
          </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
<% end %>

<script type="text/javascript">
    $(function() {

        "use strict";

        // //iCheck for checkbox and radio inputs
        // $('input[type="checkbox"]').iCheck({
        //     checkboxClass: 'icheckbox_minimal-blue',
        //     radioClass: 'iradio_minimal-blue'
        // });

        //When unchecking the checkbox
        $("#check-all").on('ifUnchecked', function(event) {
            //Uncheck all checkboxes
            $("input[type='checkbox']", ".table-mailbox").iCheck("uncheck");
        });
        //When checking the checkbox
        $("#check-all").on('ifChecked', function(event) {
            //Check all checkboxes
            $("input[type='checkbox']", ".table-mailbox").iCheck("check");
        });
        //Handle starring for glyphicon and font awesome
        $(".fa-star, .fa-star-o, .glyphicon-star, .glyphicon-star-empty").click(function(e) {
            e.preventDefault();
            //detect type
            var glyph = $(this).hasClass("glyphicon");
            var fa = $(this).hasClass("fa");

            //Switch states
            if (glyph) {
                $(this).toggleClass("glyphicon-star");
                $(this).toggleClass("glyphicon-star-empty");
            }

            if (fa) {
                $(this).toggleClass("fa-star");
                $(this).toggleClass("fa-star-o");
            }
        });

        //Initialize WYSIHTML5 - text editor
        // $("#email_message").wysihtml5();
    });
</script>