<div class="col-md-6 col-md-offset-1">
  <div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title">Edit your account info</h3>
    </div><!-- /.box-header -->
    <!-- form start -->
    <%= form_for @user do |f| %>
        <div class="box-body">
            <div class="form-group">
                <%= f.label :email, 'Email' %>
                <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
            </div>
        <%= fields_for @profile do |field| %>
            <div class="form-group">
                <%= field.label :user_name, 'Username' %>
                <%= field.text_field :user_name, class:"form-control",  placeholder:"User Name" %>
            </div>
            <div class="form-group">
                <%= field.label :full_name, 'Full name' %>
                <%= field.text_field :full_name, class: "form-control", placeholder: "Full name" %>
            </div>
            <div class="form-group">
                <%= field.label :phone, 'Phone' %>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-phone"></i>
                    </div>
                    <%= field.text_field :phone, class: "form-control", placeholder: "(999) 999-9999" %>
                </div>
            </div>
            <div class="form-group">
              <%= f.label :address %>
              <div class="input-group">
                  <div class="input-group-addon">
                      <i class="fa fa-archive"></i>
                  </div>
                  <%= field.text_field :address, class:"form-control",  placeholder:"str. Stefan Cel Mare or. Chisinau" %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :credit_info %>
              <div class="input-group">
                  <div class="input-group-addon">
                      <i class="fa fa-credit-card"></i>
                  </div>
                  <%= field.text_field :credit_info, class:"form-control",  placeholder:"1234567890123456789" %>
              </div>
            </div>
            <div class="form-group">
              <%= field.label :shipping_info %>
              <div class="input-group">
                  <div class="input-group-addon">
                      <i class="fa fa-envelope"></i> 
                  </div>
                &nbsp; <%= field.select :shipping_info, Profile::SHIPPING_TYPES, class:"form-control" %>
              </div>
            </div>
             <div class="form-group">
              <%= field.label :pay_type %>
              <div class="input-group">
                  <div class="input-group-addon">
                      <i class="fa fa-credit-card"></i>
                  </div>
                &nbsp; <%= field.select :pay_type, Order::PAYMENT_TYPES, class:"form-control" %>
              </div>
            </div>
        <% end %>
        </div><!-- /.box-body -->
        <div class="box-footer">
            <%= f.submit "Update your data", class: "btn bg-black btn-block"%>
        </div>
    <% end %>
  </div>
</div>

<div class="col-md-4">
  <div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title">Edit your avatar</h3>
    </div><!-- /.box-header -->
    <div class="box-body text-center">
      <%= image_tag @user.profile.avatar.url, :class => "img-circle", :alt => "User Image" %>
    </div><!-- /.box-body -->
    <div class="box-footer">
       <%= link_to "Change Avatar", edit_avatar_path(@user), class: "btn bg-black btn-block" %>
    </div>
  </div>
</div>
