<% if @user.errors.any? || @profile.errors.any? %>
  <div class="alert alert-danger alert-dismissable">
    <i class="fa fa-ban"></i>
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
    <% [@profile, @user].each do |resource| %>
      <% resource.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    <% end %>
  </div>
<% end %>

<div class="form-box" id="login-box">
    <div class="header">Register New Membership</div>
    <%= form_for @user do |f| %>
        <div class="body bg-gray">
            <%= fields_for @profile do |field| %>
            <div class="form-group">
                <%= field.text_field :full_name, class: "form-control", placeholder: "Full name" %>
            </div>
            <div class="form-group">
                <%= field.text_field :user_name, class:"form-control",  placeholder:"User Name" %>
            </div>
            <% end %>
            <div class="form-group">
               <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
            </div>

            <div class="form-group">
                <%= f.password_field :password, class:"form-control", placeholder:"Password" %>
            </div>
            <div class="form-group">
                <%= f.password_field :password_confirmation, class:"form-control", placeholder:"Retype password" %>
            </div>
        </div>
        <div class="footer">                    
            <%= f.submit "Sign me up", class: "btn bg-black btn-block"%>
            <%= link_to 'I already have a membership', login_path%>
        </div>
  <% end %>

</div>