<header class="header">
    <%= link_to "Electro & Computers", root_url, class: 'logo' %>
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <div class="navbar-left">
            <ul class="nav navbar-nav">
                <li><%= link_to "Products", products_path %></li>
            </ul>
        </div>
        <div class="navbar-right">
            <ul class="nav navbar-nav">
                <!-- Sales -->
                <li class="dropdown sales-menu">
                    <%= render @cart %>
                </li>
             <% if current_user %>
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-user"></i>
                        <span><%= current_user.full_name %> <i class="caret"></i></span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header bg-light-blue">
                            <%= image_tag(current_user.profile.avatar.url, :class => "img-circle", :alt => "User Image" ) %>
                            <p>
                                <%= current_user.full_name %>
                                <small> Member since:  <%= current_user.created_at.strftime('%B %e') %> </small> 
                            </p>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <%= link_to "Profile", edit_user_path(current_user), class: "btn btn-default btn-flat" %>
                            </div>
                            <div class="pull-right">
                                <%= link_to "Log out", logout_path, class: "btn btn-default btn-flat" %>
                            </div>
                        </li>
                    <% else %> 
                        <li> <%= link_to "Log in",  login_path,  class: "btn btn-sm btn-flat" %>  </li>
                        <li> <%= link_to "Sign Up", signup_path, class: "btn btn-sm btn-flat" %>  </li>
                     <% end %> 
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>