<% [:error, :alert, :success, :info].each do |type| %>
  <% unless flash[type].blank? %>
    <div class="alert alert-<%= type %> alert-dismissable">
        <i class="fa fa-ban"></i>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <p><%= flash[type] %></p>
    </div>
  <% end %>
<% end %>