<aside class="left-side sidebar-offcanvas">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <% if current_user %>
            <div class="pull-left image">
                <%= image_tag(current_user.profile.avatar.url, :class => "img-circle", :alt => "User Image" ) %>
            </div>
            <div class="pull-left info">
                <p>Hello, <%= current_user.user_name %> </p>

                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        <% else %> 
            <div class="col-xs-6 text-center">
               <!-- TO-DO  -->
               <%= link_to "Log in",  login_path,  class: "btn btn-sm bg-purple" %>
             </div>
            <div class="col-xs-6 text-center">
                <!-- TO-DO  -->
                <%= link_to "Sign Up", signup_path, class: "btn btn-sm bg-purple" %>
            </div>
        <% end %> 
        </div>
         <!-- search form -->
        <%= form_tag products_path, :method => :get, class: "sidebar-form" do %>
        <div class="input-group">
            <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search..." %>
             <span class="input-group-btn">
            <%= link_to_submit class:"btn btn-flat", id: "search-btn" do %>
                <i class="fa fa-search"></i>
            <% end %>
            </span>
        </div>
        <% end %>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li>
                <%= link_to(root_path) do %>
                    <i class="fa fa-dashboard"></i> <span>Main</span>
                <% end %>
            </li>
            <% if current_user %>
            <li>
                <%= link_to(orders_path) do %>
                    <i class="fa fa-list-alt"></i> <span>Orders</span> <small class="badge pull-right bg-green">new</small>
                <% end %>
            </li>
            <% end %>
            <% if can? :manage, :all %>
            <li>
                <%= link_to(categories_path) do %>
                    <i class="fa fa-unsorted"></i> <span>Categories</span>
                <% end %>
            </li>
            <li>
                <%= link_to(mails_path) do %>
                    <i class="fa fa-envelope"></i> <span>Mailbox</span>
                    <small class="badge pull-right bg-yellow"><%= AdminMail.received.count %></small>
                <% end %>
            </li>
            <li>
                <%= link_to(admin_path) do %>
                    <i class="fa fa-user"></i> <span>Admin Dashboard</span>
                <% end %>
            </li>
            <li>
                <%= link_to(admin_users_path) do %>
                    <i class="fa fa-users"></i> <span>Admin Users</span>
                <% end %>
            </li>
            <li>
                <%= link_to(admin_products_path) do %>
                    <i class="fa fa-tasks"></i> <span>Admin Products</span>
                <% end %>
            </li>
            <% end %>

            <% Category.roots.each do |root| %>
                <%= render 'categories/submenu_categories', categories: root.subtree.arrange %>
            <% end %>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>