<% if @order.errors.any? %>
  <div class="alert alert-danger alert-dismissable">
    <i class="fa fa-ban"></i>
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
    <% @order.errors.full_messages.each do |message| %>
    <p><%= message %></p>
    <% end %>
  </div>
<% end %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="box box-primary">
      <div class="box-header">
        <i class="fa fa-briefcase"></i>
        <h3 class="box-title">Order info</h3>
      </div><!-- /.box-header -->
      <div class="box-body">
      <%= form_for current_user,:remote => true do |f| %>
        <div class="box-body">
            <div class="form-group">
                <%= f.label :email, 'Email' %>
                <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
            </div>
        <%= fields_for current_user.profile do |field| %>
            <div class="form-group">
                <%= field.label :user_name, 'Username' %>
                <%= field.text_field :user_name, class:"form-control",  placeholder:"User Name" %>
            </div>
            <div class="form-group">
                <%= field.label :full_name, 'Full name' %>
                <%= field.text_field :full_name, class: "form-control", placeholder: "Full name" %>
            </div>
            <div class="form-group">
                <%= field.label :phone, 'Phone' %>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-phone"></i>
                    </div>
                    <%= field.text_field :phone, class: "form-control", placeholder: "(999) 999-9999" %>
                </div>
            </div>
            <div class="form-group">
              <%= f.label :address %>
              <div class="input-group">
                  <div class="input-group-addon">
                      <i class="fa fa-archive"></i>
                  </div>
                  <%= field.text_field :address, class:"form-control",  placeholder:"str. Stefan Cel Mare or. Chisinau" %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :credit_info %>
              <div class="input-group">
                  <div class="input-group-addon">
                      <i class="fa fa-credit-card"></i>
                  </div>
                  <%= field.text_field :credit_info, class:"form-control",  placeholder:"1234567890123456789" %>
              </div>
            </div>
            <div class="form-group">
              <%= field.label :shipping_info %>
              <div class="input-group">
                  <div class="input-group-addon">
                      <i class="fa fa-envelope"></i> 
                  </div>
                &nbsp; <%= field.select :shipping_info, Profile::SHIPPING_TYPES, class:"form-control" %>
              </div>
            </div>
        <% end %>
        </div><!-- /.box-body -->
        <div class="box-footer">
            <%= f.submit "Update your data", class: "btn btn-primary"%>
        </div>
    <% end %>

      <!-- form start -->
      <%= form_for @order do |f| %>
        <div class="form-group">
          <%= f.label :pay_type %><br />
          <%= f.select :pay_type, Order::PAYMENT_TYPES, class:"form-control" %>
        </div>
      </div> <!-- /.box-body -->
      <div class="box-footer">
        <%= f.submit "Place order", class: "btn btn-primary"%>
      </div>
      <% end %>
    </div> <!-- /.box -->
  </div>
</div>
