<div class="row">
  <div class="col-xs-12">
      <div class="box">
          <div class="box-header">
              <i class="fa fa-home"></i>
              <h3 class="box-title">Your orders</h3>
          </div><!-- /.box-header -->
          <div class="box-body table-responsive" >
              <table class="table table-bordered text-center" id="orders">
                <thead>
                  <tr>
                      <th>Full name</th>
                      <th>Address</th>
                      <th>Email</th>
                      <th>Payment</th>
                      <th>Status</th>
                      <th>Arival Date</th>
                      <th style="width: 10px">Show</th>
                      <th style="width: 10px">Edit</th>
                      <th style="width: 10px">Destroy</th>
                  </tr>
                </thead>
                <tbody>
                 <% @orders.each do |order| %>
                      <tr>
                        <td><%= order.user.profile.full_name %></td>
                        <td><%= order.user.profile.address %></td>
                        <td><%= order.user.email %></td>
                        <td><%= order.pay_type %></td>
                        <td><span class="label label-primary"><%= order.status %></span></td>
                        <td><%= time_ago_in_words(order.due_date) unless order.due_date.nil? %></td>
                        <td><%= link_to 'Show', order, class: 'btn btn-primary btn-sm' %></td>
                        <td><%= link_to 'Edit', edit_order_path(order), class: 'btn btn-warning btn-sm' %></td>
                        <td><%= link_to 'Destroy', order, class: 'btn btn-danger btn-sm', method: :delete, data: { confirm: 'Are you sure?' } %></td>
                      </tr>
                    <% end %>
              </tbody></table>
          </div><!-- /.box-body -->
      </div><!-- /.box -->
  </div>
</div>

<script type="text/javascript">
    $(function() {
        $("#orders").dataTable({
            "searching": true,
            "bPaginate": true,
            "bLengthChange": true,
            // "bFilter": false,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": true
        });
    });
</script>
