<div class="pad margin no-print">
    <div class="alert alert-info" style="margin-bottom: 0!important;">
        <i class="fa fa-info"></i>
        <b>Note:</b> For a better experience and autocompletion in future, you should fill additional fields about yourself in your profile page.
    </div>
</div>

<%= render 'form' %>

<%= link_to 'Back', orders_path, class: 'btn btn-primary' %>
