<div class="pad margin no-print">
    <div class="alert alert-info" style="margin-bottom: 0!important;">
        <i class="fa fa-info"></i>
          <b>Note:</b> Your order was successfully created. Check for more information on your orders page.  <br>  <br>
        <b>Note:</b> This page has been enhanced for printing. Click the print button at the bottom of the invoice to test.
    </div>
</div>

<section class="content invoice">                    
  <!-- title row -->
  <div class="row">
      <div class="col-xs-12">
          <h2 class="page-header">
              <i class="fa fa-globe"></i> ShopOnline, Inc.
              <small class="pull-right">Date: <%= @order.created_at.strftime("%d-%m-%Y")%></small>
          </h2>                            
      </div><!-- /.col -->
  </div>
  <!-- info row -->
  <div class="row invoice-info">
      <div class="col-sm-4 invoice-col">
          From
          <address>
              <strong>ShopOnline, Inc.</strong><br>
              795 Folsom Ave, Suite 600<br>
              Phone: (804) 123-5432<br>
              Email: info@almasaeedstudio.com
          </address>
      </div><!-- /.col -->
      <div class="col-sm-4 invoice-col">
          To
          <address>
              <strong><%= @order.user.full_name %></strong><br>
              <%= @order.user.profile.address %><br>
              Phone: <%= @order.user.profile.phone %><br>
              Email: <%= @order.user.email %>
          </address>
      </div><!-- /.col -->
      <div class="col-sm-4 invoice-col">
          <b>Invoice #007612</b><br>
          <br>
          <b>Order ID:</b> <%= @order.id %><br>
          <b>Payment Due:</b> <%= @order.due_date %><br>
          <b>Account:</b> 968-34567
      </div><!-- /.col -->
  </div><!-- /.row -->

  <!-- Table row -->
  <div class="row">
      <div class="col-xs-12 table-responsive">
          <table class="table table-striped">
              <thead>
                  <tr>
                      <th>Qty</th>
                      <th>Product</th>
                      <th>Serial #</th>
                      <th>Description</th>
                      <th>Subtotal</th>
                  </tr>                                    
              </thead>
              <tbody>
               <% @order.order_items.each do |item| %>
                <tr>
                  <td><%= item.quantity %></td>
                  <td><%= item.product.title %></td>
                  <td><%= item.product.id %></td>
                  <td><%= truncate(item.product.description, length: 40) %></td>
                  <td><%= number_to_currency(item.total_price) %></td>
                </tr>
              <% end %>
              </tbody>
          </table>                            
      </div><!-- /.col -->
  </div><!-- /.row -->

  <div class="row">
      <!-- accepted payments column -->
      <div class="col-xs-6">
          <p class="lead">Payment Methods:</p>
          <%= image_tag "credit/visa.png", alt: "Visa" %>
          <%= image_tag "credit/mastercard.png", alt: "Mastercard" %>
          <%= image_tag "credit/american-express.png", alt: "American Express" %>
          <%= image_tag "credit/paypal2.png", alt: "Paypal" %>
          <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
              Here will be displayed the additional form fields related to the method of type used.
          </p>
      </div><!-- /.col -->
      <div class="col-xs-6">
          <p class="lead">Amount Due <%= time_ago_in_words(@order.due_date) unless @order.due_date.nil? %></p>
          <div class="table-responsive">
              <table class="table">
                  <tbody><tr>
                      <th style="width:50%">Subtotal:</th>
                      <td><%= number_to_currency(@order.total_price) %></td>
                  </tr>
                  <tr>
                      <th>Tax (10.0%)</th>
                      <td><%= number_to_currency(@order.tax_price) %></td>
                  </tr>
                  <tr>
                      <th>Shipping:</th>
                      <td><%= number_to_currency(@order.shipping_price) %></td>
                  </tr>
                  <tr>
                      <th>Total:</th>
                      <td><%= number_to_currency(@order.final_price) %></td>
                  </tr>
              </tbody></table>
          </div>
      </div><!-- /.col -->
  </div><!-- /.row -->

  <!-- this row will not appear when printing -->
  <div class="row no-print">
      <div class="col-xs-12">
          <button class="btn btn-default" onclick="window.print();"><i class="fa fa-print"></i> Print</button>
          <!-- <button class="btn btn-success pull-right"><i class="fa fa-credit-card"></i> Submit Payment</button>   -->
      </div>
  </div>
</section>
