<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <i class="fa fa-shopping-cart"></i>
        <h3 class="box-title">Your cart</h3>
      </div><!-- /.box-header -->
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <tbody><tr>
            <th>Quantity</th>
            <th>Image</th>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
            <th>Controls</th>
          </tr>
          <% @cart.order_items.each do |item| %>
          <tr>
            <td><%= item.quantity %></td>
            <% if item.product.images.any? %>
              <td><%= image_tag item.product.images.first.photo.url(:thumb) %></td>
            <% else %>
              <td><%= image_tag "missing.png", :size => '110' %></td>
            <% end %>
            <td><%= item.product.title %></td>
            <td><%= truncate(item.product.description, length: 105) %></td>
            <td><%= number_to_currency(item.total_price) %></td>
            <td><%= link_to "Delete", item, class: "btn btn-danger btn-sm destroy_item_#{item.id}", confirm: "Are you sure? ", method: 'delete', remote: true %></td>
          </tr>
          <% end %>
          <tr class="total_line">
            <td colspan="5">Total</td>
            <td><h4><span class="label label-success"> <%= number_to_currency(@cart.total_price) %></span></h4></td>
          </tr>
        </tbody></table>
      </div><!-- /.box-body -->
    </div><!-- /.box -->
  </div>
</div>
  <div class="col-xs-12">

<% if current_user %>
  <%= button_to 'Checkout', new_order_path, class: 'btn btn-success',  method: :get, data: { confirm: 'Are you sure?' } %>
  <%= button_to 'Empty cart', @cart, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

</div>