<div class="row">
  <div class="col-xs-12">
      <% if @products.present? %>
        <div class="box">
            <div class="box-header">
                <i class="fa fa-tasks"></i>
                <h3 class="box-title">All products</h3>
            </div><!-- /.box-header -->
            <div class="box-body table-responsive" >
                <table class="table table-bordered text-center" id="products">
                  <thead>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>Image</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Created</th>
                        <th style="width: 10px">Show</th>
                        <th style="width: 10px">Edit</th>
                        <th style="width: 10px">Destroy</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @products.each_with_index do |product, index| %>
                        <tr>
                          <td><%= index+1 %></td>
                          <% if product.images.any? %>
                            <td><%= image_tag product.images.first.photo.url(:thumb) %></td>
                          <% else %>
                            <td><%= image_tag "missing.png", :size => '100' %></td>
                          <% end %>
                          <td><%= truncate(product.title, length: 16) %></td>
                          <td><%= truncate(product.description, length: 40) %></td>
                          <td><%= product.price %> </td>
                          <td><%= time_ago_in_words(product.created_at) %></td>
                          <td><%= link_to 'Show', product, class: 'btn btn-primary btn-sm' %></td>
                          <td><%= link_to 'Edit', edit_product_path(product), class: 'btn btn-warning btn-sm' %></td>
                          <td><%= link_to 'Destroy', product, class: 'btn btn-danger btn-sm', method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        </tr>
                      <% end %>
                </tbody></table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
     <% else %>
        <div class="box box-solid">
          <div class="box-header">
             <i class="fa fa-exclamation-circle"></i>
             <h3 class="box-title">Products</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
              <div class="callout callout-info">
                <h4> No products</h4>
                <p>Sorry! There are no products at the moment. You need to add one. </p>
              </div>
             </div><!-- /.box-body -->
            </div><!-- /.box -->
    <% end %> 
  </div>
</div>

<%= link_to 'Add new products', new_product_path, class: 'btn btn-primary' %>

<script type="text/javascript">
    $(function() {
        $("#products").dataTable({
            "searching": true,
            "bPaginate": true,
            "bLengthChange": true,
            // "bFilter": false,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": true
        });
    });
</script>


