<div class="col-md-6 col-md-offset-1">
  <div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title">Change your avatar</h3>
    </div><!-- /.box-header -->
    <!-- form start -->
    <%= form_for @user.profile, url: avatar_path(@user), html: { multipart: true } do |f| %>
        <div class="box-body">
             <div class="form-group">
                  <%= f.label :avatar, 'Upload New Avatar' %>
                 <%= f.file_field :avatar %>
                <p class="help-block">Choose your avatar wisely.</p>
            </div>
        </div><!-- /.box-body -->
        <div class="box-footer">
            <%= f.submit 'Upload Avatar', class: "btn bg-black btn-block" %>
             <%= link_to 'Return to edit page', edit_user_path(@user), class: "btn bg-black btn-block" %>
        </div>
    <% end %>
  </div>
</div>

<div class="col-md-4">
  <div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title">Preview</h3>
    </div><!-- /.box-header -->
    <div class="box-body text-center">
      <% if @user.profile.avatar? %>
        <%= image_tag @user.profile.avatar.url, :class => "img-circle", :alt => "User Image" %>
    </div><!-- /.box-body -->
    <div class="box-footer">
       <%= link_to "Delete my avatar", avatar_path(@user), method: 'delete',  class: "btn btn-danger btn-block" %>
    </div>
    <% else %>
      No Avatar Set!
    <% end %>
  </div>
</div>