<% if @category.errors.any? %>
<div class="alert alert-danger alert-dismissable">
  <i class="fa fa-ban"></i>
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
  <% @category.errors.full_messages.each do |message| %>
  <p><%= message %></p>
  <% end %>
</div>
<% end %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title">Category info.</h3>
      </div><!-- /.box-header -->
      <!-- form start -->
      <%= form_for(@category) do |f| %>
      <div class="box-body">
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
        </div>
        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :description, class:"form-control",  placeholder:"Description" %>
        </div>
        <div class="form-group">
          <%= f.label :parent_id %><br>
          <%= f.collection_select :parent_id, Category.order(:name), :id, :name, include_blank: true %>
        </div>
      </div> <!-- /.box-body -->
      <div class="box-footer">
        <%= f.submit class: "btn btn-primary"%>
      </div>
      <% end %>
    </div> <!-- /.box -->
  </div>
</div>

