<% categories.each do |category, children| %>
<li class="treeview">
  <% if children.present? %>
  <a href="#">
    <i class="fa fa-bar-chart-o"></i>
    <span><%= category.name %> </span>
    <i class="fa fa-angle-left pull-right"></i>
  </a>
  <ul class="treeview-menu">
    <%= render 'categories/submenu_categories', categories: children if children.present? %>
  </ul>
  <% else %>
    <li> <%= link_to "<i class='fa fa-angle-double-right'></i> #{category.name}".html_safe, category %></a></li>
  <% end %>
</li>
<% end %>