<div class="row">
  <div class="col-md-12">

    <div class="box">
      <div class="box-header">
         
          <i class="fa fa-archive"></i>
          <h3 class="box-title">Listing category</h3>
      </div><!-- /.box-header -->
      <div class="box-body table-responsive">
          <table class="table table-bordered text-center" id="categories">
            <thead>
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Label</th>
                  <th style="width: 10px">Show</th>
                  <th style="width: 10px">Edit</th>
                  <th style="width: 10px">Destroy</th>
              </tr>
            </thead>
              <tbody class="text-center">
              <% @categories.each_with_index do |category, index| %>
                <tr>
                    <td><%= index+1 %></td>
                    <td><%= category.name %></td>
                    <td><%= category.description %></td>
                    <td><%= category.parent.name unless category.parent.nil? %></td>
                    <td><%= link_to 'Show', category, class: 'btn btn-primary btn-sm' %></td>
                    <td><%= link_to 'Edit', edit_category_path(category), class: 'btn btn-warning btn-sm' %></td>
                    <td><%= link_to 'Destroy', category, class: 'btn btn-danger btn-sm', method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
          </tbody></table>
      </div><!-- /.box-body -->
      <div class="box-footer clearfix">
          <ul class="pagination pagination-sm no-margin pull-right">
          <%#paginate @categories, :window => 3 %>
        </ul>
      </div>
  </div>
</div>

<div class="col-md-12">
  <%= link_to 'New Category', new_category_path, class: 'btn btn-primary' %>
</div>

<script type="text/javascript">
    $(function() {
        $("#categories").dataTable({
            "searching": true,
            "bPaginate": true,
            "bLengthChange": true,
            // "bFilter": false,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": true
        });
    });
</script>