<% content_for :content_header do %>
  <section class="content-header">
      <h1> <%= @category.name %></h1>
      <ol class="breadcrumb">
        <i class="fa fa-dashboard"></i>
         <% @category.ancestors.each do |category| %>
          <li><%= link_to category.name, category %> </li>
        <% end %>
        <li> <%= @category.name %> </li>
      </ol>
  </section>
<% end %>

<div class="col-md-12">
  <% if @category.products.present? %>
    <%= render @category.products %>
  <% else %>
    <div class="box box-solid">
      <div class="box-header">
         <i class="fa fa-exclamation-circle"></i>
         <h3 class="box-title">Products</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
          <div class="callout callout-info">
            <h4> No products</h4>
            <p>Sorry! There are no products at the moment. You need to add one. </p>
          </div>
         </div><!-- /.box-body -->
        </div><!-- /.box -->
  <% end %> 
</div>
<% if can? :manage, @category %>
<div class="row">
  <div class="col-md-12">
    <%= link_to 'Edit', edit_category_path(@category), class: 'btn btn-warning' %> 
    <%= link_to 'Back', categories_path, class: 'btn btn-primary' %>
  </div>
</div>
<% end %>


