<div class="row">
  <div class="col-xs-12">
    <div class="box">
        <div class="box-header">
            <i class="fa fa-users"></i>
            <h3 class="box-title">All users</h3>
        </div><!-- /.box-header -->
        <div class="box-body table-responsive" >
            <table class="table table-bordered text-center" id="users">
              <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th style="width: 100px">Avatar</th>
                    <th>Email</th>
                    <th>User Name</th>
                    <th>Full Name</th>
                    <th>Registered</th>
                </tr>
              </thead>
              <tbody>
                <% @users.each_with_index do |user, index| %>
                    <tr>
                      <td><%= index+1 %></td>
                      <td><%= image_tag user.profile.avatar.url(:thumb), :size => '100' %></td>
                      <td><%= user.email %> </td>
                      <td><%= user.profile.user_name %></td>
                      <td><%= user.profile.full_name %></td>
                      <td><%= time_ago_in_words(user.created_at) %></td>
                    </tr>
                  <% end %>
            </tbody></table>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
  </div>
</div>

<script type="text/javascript">
    $(function() {
        $("#users").dataTable({
            "searching": true,
            "bPaginate": true,
            "bLengthChange": true,
            // "bFilter": false,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": true
        });
    });
</script>
