<% if @product.errors.any? %>
  <div class="alert alert-danger alert-dismissable">
    <i class="fa fa-ban"></i>
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
      <% @product.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
  </div>
<% end %>

<%= form_for @product, :html => { :multipart => true } do |f| %>
<div class="row">
<div class="col-md-6 col-md-offset-1">
  <div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title">Product info.</h3>
    </div><!-- /.box-header -->
    <!-- form start -->
      <div class="box-body">
          <div class="form-group">
              <%= f.label :title %>
              <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
          </div>
          <div class="form-group">
              <%= f.label :description %>
              <%= f.text_area :description, class:"form-control",  placeholder:"Description" %>
          </div>
          <div class="form-group">
              <%= f.collection_select :category_ids, Category.leaves, :id, :name, {}, {multiple: true, class: "form-control"} %>
          </div>
          <div class="form-group">
              <%= f.label :price %>
              <%= f.text_field :price, class:"form-control",  placeholder:"500.00" %>
          </div>
      </div> <!-- /.box-body -->
    <div class="box-footer">
        <%= f.submit class: "btn bg-black btn-block"%>
    </div>
  </div> <!-- /.box -->
</div>

<div class="col-md-4">
  <div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title">Add image</h3>
    </div><!-- /.box-header -->
    <div class="box-body text-center">
          <div class="thumbnail">
            <div class="form-group">
              <%= f.fields_for :images do |image| %>
                <% if image.object.new_record? %>
                   <%= image.file_field :photo, multiple: true, name: "product[images_attributes][#{@product.images.size}][photo]" %>
                <% end %>
              <% end %>
          </div>
          </div>
    </div><!-- /.box-body -->
    <div class="box-footer">
    </div>
  </div>
</div>
</div>
<% end %>

<% # jquery upload template # %>
<script id="template-upload" type="text/x-tmpl"><div class="upload">{%=o.name%}<div class="progress"><div class="bar" style="width: 0%"></div></div></div></script>

<div class="row">
<div class="col-md-10 col-md-offset-1 imgs">
  <% if @product.images.any? %>
    <% @product.images.each do |image| %>
     <% unless image.new_record? %>
        <%= render 'upload_image', :product => @product, :image => image %>    
      <% end %>
    <% end %>
  <% else %>
    <div class="col-md-8 col-md-offset-2">
    <div class="box box-primary">
      <div class="box-header">
          <h3 class="box-title"></h3>
      </div><!-- /.box-header -->
       <div class="box-body">
        <div class="callout callout-danger">
          <h4>There are no images yet.</h4>
          <p>Return back to the edit page to add a new one.</p>
      </div>
       </div>  <!-- /.box-body -->
      </div> <!-- /.box -->
    </div> <!-- /.col-md-8 -->
  <% end %>
</div>
</div>