<div class="col-md-2">
  <%= link_to product do %>
  <div class="box box-solid">
      <div class="box-header">
          <i class="fa fa-tag"></i>
          <h3 class="product-box-title"><%= truncate(product.title, length: 16) %></h3>
      </div><!-- /.box-header -->
      <div class="box-body clearfix">
        <div class="col-md-12 text-center">
            <% if product.images.any? %>
              <%= image_tag product.images.first.photo.url(:thumb) %> 
            <% else %>
              <%= image_tag "missing.png", :size => '100' %>
            <% end %>
        </div>
      </div><!-- /.box-body -->
    <% end %>
      <div class="box-footer clearfix">
        <div class="col-xs-7">
          <%= button_to "Add to cart", order_items_path(product_id: product), remote: true, class: 'btn btn-warning btn-sm' %>
        </div>
        <div class="col-xs-5">
          <small>Price</small>
          <b class="text-green"> <%= product.price %> </b>
        </div>
      </div><!-- /.box-body -->
  </div><!-- /.box -->
</div>

