<div class="col-md-4 text-center">
  <div class="box box-solid">
      <div class="box-header">
          <i class="fa fa-camera"></i>
          <h3 class="box-title"></h3>
      </div><!-- /.box-header -->
      <div class="box-body ">
        <%= image_tag image.photo.url(:small) %> 
      </div><!-- /.box-body -->
      <div class="box-footer clearfix">
        <%= link_to 'Destroy', [product, image], class: "btn btn-sm btn-danger", confirm: 'Are you sure?', method: :delete %>
      </div><!-- /.box-body -->
  </div><!-- /.box -->
</div> <!-- /.col-md-4-->
