<div class="col-md-12">
  <% if @products.present? %>
    <%= render @products %>
  <% else %>
    <div class="box box-solid">
      <div class="box-header">
         <i class="fa fa-exclamation-circle"></i>
         <h3 class="box-title">Products</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
          <div class="callout callout-info">
            <h4> No products</h4>
            <p>Sorry! There are no products at the moment. You need to add one. </p>
          </div>
         </div><!-- /.box-body -->
        </div><!-- /.box -->
  <% end %> 
</div>

<% if can? :manage, Product.new %>
  <%= link_to 'Add new products', new_product_path, class: 'btn btn-primary' %>
<% end %>