<div class="col-md-6 col-md-offset-1">
  <div class="box box-danger">
    <div class="box-header">
        <h3 class="box-title"><%= @product.title %></h3>
    </div><!-- /.box-header -->
    <div class="box-body">
       <%= @product.description %>
       <hr>
        <% @product.categories.each do |category| %>
            <span class="label label-success"> <%= category.name %> </span> &nbsp;
        <% end %>
    </div><!-- /.box-body -->
    <div class="box-footer clearfix">
       <div class="col-xs-8">
        <%= button_to "Add to cart", order_items_path(product_id: @product), remote: true, class: 'btn btn-warning btn-sm' %>

          <% if can? :manage, @product %>
            <%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-warning btn-sm' %> 
            <%= link_to "Delete", @product, class: 'btn btn-danger btn-sm', confirm: "Are you sure? ", method: 'delete' %>
            <%= link_to 'Back', products_path, class: 'btn btn-primary btn-sm' %>
          <% end %>
        </div>
        <div class="col-xs-4">
          <h4> Price <%= @product.price %> </h4>
        </div>
    </div> <!-- /.box-footer -->
  </div>
</div>

<div class="col-md-4">
  <div class="box box-danger">
    <div class="box-header">
        <h3 class="box-title">Product images</h3>
    </div><!-- /.box-header -->
    <div class="box-body text-center">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <% if @product.images.any? %>
                <% @product.images.each_with_index do |image,index| %>
                    <li data-target="#carousel-example-generic" data-slide-to="<%= index %>"<%= " class=active" if index==0 %>></li> 
                <% end %>
            <% else %>
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <% end %>
        </ol>
        <div class="carousel-inner text-center">
            <% if @product.images.any? %>
                <% @product.images.each_with_index do |image,index| %>
                    <div class="item text-center <%= "active" if index==0 %>">
                        <%= image_tag image.photo.url(:small) %> 
                        <div class="carousel-caption"></div>
                    </div>
                <% end %>
            <% else %>
                <div class="item active">
                    <%= image_tag "missing.png", :size => '150' %>
                    <div class="carousel-caption">Missing image</div>
                </div>
            <% end %>
        </div>
         <% if @product.images.size > 1 %>
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left black-glypth"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right black-glypth"></span>
            </a>
         <% end %>
    </div>
    </div><!-- /.box-body -->
  </div>
</div>