<% if @product.new_record? or @product.errors.any? %>
  alert('Something is wrong with the image. Choose another one.');
<% else %>
  $('.imgs').append("<%=j render 'upload_image', :product => @product, :image => @product.images.last  %>");
<% end %>
