<!DOCTYPE html>
<html>
<head>
  <title> Electro & Computers </title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>
 <body class="skin-black">

    <!-- header logo  -->
    <%= render 'shared/header' %>

    <div class="wrapper row-offcanvas row-offcanvas-left">

        <!-- Left side column. contains the logo and sidebar -->
        <%= render 'shared/sidebar' %>

        <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side">

            <!-- TO-DO -->
            <!-- Future Content Header -->
            <%= yield :content_header %>

            <!-- Main content -->
            <section class="content">

               <%= render 'shared/notifications' %>

                <!-- TO-DO -->
                <!-- Future State Boxes -->

                <!-- top row -->
                <div class="row">
                    <div class="col-xs-12">
                    </div><!-- /.col -->
                </div>
                <!-- /.row -->

                <%= yield %>
                
            </section><!-- /.content -->
        </aside><!-- /.right-side -->
    </div><!-- ./wrapper -->

</body>
</html>